%blockquote
  = post.happy_thing.to_s.empty? ? '<em>-Empty-</em>' : post.happy_thing
  %cite
    ="#{post.user_for_viewer(user)}, #{post.day.to_s}, Happiness: #{post.happiness}, Productivity: #{post.productivity}"
