.row
  .large-12.small-12.columns
    %a{href:'/settings'}
      .alert-box.alert.radius
        Your profile is only
        ="#{user.completeness}%"
        complete!  Click this link and fill out your settings to unlock personalized statistics and graphs.
