.row
  .small-12.large-12.columns
    %h2
      %a.unstyled{href:"/blog/#{blog.id}/#{blog.title.gsub(' ','-')}"}
        = blog.title
    %blockquote
      = blog.body
      %cite
        ="Ken Kendall, #{blog.created_at.to_date.strftime('%e %b %Y %H:%M')}"

