.row
  .large-12.small-12.columns
    %h3
      How was your day?
- form(Checkin.new, action: '/checkin', labeler: :explicit) do |f|
  %form.checkin.forme{method: 'POST', action: '/checkin'}
    .row
      .large-12.small-12.columns
        = f.input(:day, type: :date, value: for_day)
    .row
      .large-6.small-12.columns
        = f.input(:happiness, type: :select, options: Checkin.happiness_options, value: 3)
      .large-6.small-12.columns
        = f.input(:productivity, type: :select, options: Checkin.productivity_options, value: 3)
    .row
      .large-12.small-12.columns
        = f.input(:happy_thing, type: :textarea, label: 'One good thing that happened today', label_position: :before)
    .row
      .large-12.small-12.columns
        %label{ for: 'public'}
          %input{type: 'checkbox', checked: user.public, id: 'public', name: 'checkin[public]'}
          Share your happy thought publicly?
    %br/
    .row
      .large-12.small-12.columns
        %input.button.large.expand{type: 'submit', value: 'Save'}
