.row
  .large-12.small-12.columns
    %h2
      Great!
    %p
      Thanks for signing up for JollyPlot.  This site works through email based authentication so check your email to get started.
    %p
      But first, would you care to spread the word?  Like us on Facebook, since running analytics without a community gets pretty lonely!
    %center
      .fb-like-box.center{ 'data-href' => "https://www.facebook.com/jollyplot", 'data-width' => "100%", 'data-show-faces' => "true", 'data-header' => "true", 'data-stream' => "false", 'data-show-border' => "true"}
