.row
  .large-12.columns
    / Content Slider
    .row
      .large-12.hide-for-small
        .featured{:'data-orbit' => true}
          %img{src: "img/slider/1.jpg", alt:"Text from image."}/
          %img{src: "img/slider/2.jpg", alt:"JollyPlot is awesome."}/
          %img{src: "img/slider/3.jpg", alt:"I promise.  You should Sign up."}/
    / Mobile Header
    .row
      .large-12.columns.show-for-small
        %img{src:"img/slider/mobile.jpg"}/

    .row
      / login and sign up
      .large-6.columns
        %h4="Get Started"
        %hr/

        - form(User.new, :action=>'/settings') do |f|
          %form.user.forme{method: 'POST', action: '/user'}
            = f.input(:email, required: true, class: 'required')
            %input.button.expand{type: 'submit', value: "Sign Up"}
        %center
          .fb-like-box.center{ 'data-href' => "https://www.facebook.com/jollyplot", 'data-width' => "100%", 'data-show-faces' => "true", 'data-header' => "true", 'data-stream' => "false", 'data-show-border' => "true"}
      / Feed
      .large-6.small-12.columns
        %h4="Blog"
        %hr/
        .panel
          %h5
            %a{href: blogs[0]['url']}
              = blogs[0]['title']
          %h6.subheader
            = blogs[0]['snippet']
          %h6
            %a{href: blogs[0]['url']}
              Read More »
        .panel.hide-for-small
          %h5
            %a{href: blogs[1]['url']}
              = blogs[1]['title']
              »
        .panel.hide-for-small
          %h5
            %a{href: blogs[2]['url']}
              = blogs[2]['title']
              »
        %a.right{href: 'http://blog.jollyplot.com'}
          Go To Blog »
