<!doctype html>
%html
  %head
    %title What if you could graph your happiness over time?
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %link{:href => "/css/normalize.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/foundation.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/happygraph.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/js/custom.modernizr.js"}
    %meta{content:'website', property:'og:type'}/
    %meta{content:'384628788303906', property:'fb:app_id'}/
    %meta{content:'JollyPlot', property:'og:site_name'}/
    %meta{content:'http://www.jollyplot.com/', property:'og:url'}/
    %meta{content:'JollyPlot - A site about understanding happiness', property:'og:title'}/
    %meta{content:'Where happiness meets statistical analysis and community and anonymity (or something like that)!', property:'og:description'}/
    %meta{content:'http://www.jollyplot.com/img/jollyplotlogofb.png', property:'og:image'}/
    %script{type:"text/javascript", src:"https://www.google.com/jsapi"}
  %body
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42875672-1', 'jollyplot.com');
      ga('send', 'pageview');
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=384628788303906";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .contain-to-grid
      %nav.top-bar
        %ul.title-area
          %li.name
            %a{href: '/'}
              .logo-image
              %h1.logo
                JollyPlot
          -#<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          - if current_user
            %li.toggle-topbar.menu-icon
              %a{href:"#"}
                %span{}/
        - if current_user
          %section.top-bar-section
            %ul.right
              %li.divider/
              %li
                %a{href:'/checkin'}
                  Check In
              %li.divider/
              %li
                %a{href:'/me'}
                  My Posts
              %li.divider/
              %li
                %a{href:'/random'}
                  Random Posts
              %li.divider/
              %li
                %a{href:'http://blog.jollyplot.com'}
                  Blog
              %li.divider/
              %li
                %a{href:'/settings'}
                  Settings
              %li.divider/
              %li
                %a{href:'/logout'}
                  Logout
              %li.divider/
    = yield
    %hr
    %footer.row
      .large-12.small-12.columns
        .row
          .large-6.small-12.columns
            %p
              &copy; Copyright JollyPlot 2013
          .large-6.columns.hide-for-small
            %span.right
              %a{href:'mailto:zenkalia@gmail.com'}
                Contact
    %script{:src => "/js/zepto.js"}
    %script{:src => "/js/foundation.min.js"}
    %script{:src => "/js/foundation.forms.js"}
    %script{:src => "/js/happygraph.js"}
