- if user.complete?
  .row
    .large-12.small-12.columns
      %h2
        Your personalized plots
  .row
    .large-6.small-12.columns
      #my_week_chart_div
    .large-6.small-12.columns
      %p
        You've had a streak of posting for
        %strong=user.streak
        days straight.
      %p
        You've checked in a total of
        %strong=user.checkins.count
        times.
- else
  = haml :_incomplete, locals:{user: user}

.row
  .large-12.small-12.columns
    %h2
      Your happy thoughts
  .large-12.small-12.columns
    %script{type:"text/javascript", src:'/js/google_chart.js'}
- checkins.each do |post|
  .row
    .large-12.small-12.columns
      = haml :_checkin, locals: {user: user, post: post}
