- unless user.complete?
  = haml :_incomplete, locals:{user: user}
.row
  .large-12.small-12.columns
    %h2
      Random happy thoughts
- checkins.each do |post|
  .row
    .large-12.small-12.columns
      = haml :_checkin, locals: {user: user, post: post}
.row
  .large-12.small-12.columns
    %a.button.expand{href: '/random'}
      Reroll!
