.row
  .large-12.small-12.columns
    %h3
      Settings
.row
  .large-12.small-12.columns
    %a.button{href: '/me/jollyplot.csv'}
      Get My Data!
- form(user, :action=>'/settings') do |f|
  %form.user.forme{method: 'POST', action: '/settings'}
    .row
      .large-6.small-12.columns
        = f.input(:email)
      .large-6.small-12.columns
        = f.input(:email_time, type: :select, options: User.email_times, value: user.email_time.to_i)
    .row
      .large-6.small-12.columns
        = f.input(:sex, type: :select, options: {'-Select-' => '', 'Male' => 'male', 'Female' => 'female', 'Other' => 'other'})
      .large-6.small-12.columns
        = f.input(:sex_seeking, label: 'Sex interested in', type: :select, options: {'-Select-' => '', 'Male' => 'male', 'Female' => 'female', 'Both' => 'both', 'Other' => 'other'})
    .row
      .large-6.small-12.columns
        = f.input(:birthday, type: :date)
      .large-6.small-12.columns
        = f.input(:weekly_sleep, label: 'How many hours do you sleep per week?', labeler: :explicit)
    .row
      .large-6.small-12.columns
        = f.input(:weekly_drinks, label: 'How many alcoholic drinks do you have per week?', labeler: :explicit)
      .large-6.small-12.columns
        = f.input(:weekly_exercises, label: 'How many times do you exercise per week?', labeler: :explicit)
    .row
      .large-6.small-12.columns
        = f.input(:weekly_naps, label: 'How many naps do you take per week?', labeler: :explicit)
      .large-6.small-12.columns
        = f.input(:weekly_work, label: 'How many hours do you work per week?', labeler: :explicit)
    .row
      .large-6.small-12.columns
        = f.input(:weekly_commute, label: 'How many hours do you commute per week?', labeler: :explicit)
      .large-6.small-12.columns
        = f.input(:weekly_reading, label: 'How many hours do you read per week?', labeler: :explicit)
    .row
      .large-6.small-12.columns
        = f.input(:intro_extro, label: 'Are you an introvert or an extrovert?', labeler: :explicit, type: :select, options: {'-Select-' => '', 'Introvert' => 'introvert', 'Extrovert' => 'extrovert', 'Both' => 'both', "I don't know" => 'oops'})
      .large-6.small-12.columns
        = f.input(:diet, type: :select, options: {'-Select-' => '', 'Everything' => 'omnivore', 'Vegetarian' => 'vegetarian', 'Vegan' => 'vegan', 'Pescatarian' => 'pescatarian', 'Gluten-Free' => 'celiac', 'Paleo' => 'paleo', 'Other' => 'other' })

    .row
      .large-12.small-12.columns
        %label{ for: 'public'}
          %input{type: 'checkbox', checked: user.public, id: 'public', name: 'user[public]'}
          Default your happy thoughts to public?
    .row
      .large-12.small-12.columns
        %input.button.large.expand{type: 'submit', value: 'Save'}

