- unless user.complete?
  = haml :_incomplete, locals:{user: user}
.row
  .large-12.small-12.columns
    %h1
      Thanks for sharing!
    %p
      Now might be a good time to check out
      %a{href: 'http://blog.jollyplot.com'}
        the blog
      to see what else is going on.  New feature announcements and social analyses of the community can be found there.

.row
  .large-12.small-12.columns
    %h3
      Or read some recent happy thoughts:
- posts.each do |post|
  .row
    .large-12.small-12.columns
      = haml :_checkin, locals: {user: user, post: post}
