ul.title-area, .contain-to-grid, .top-bar, ul.right li a {
  background-color: #3c59d3!important;
}
.top-bar {
  margin-bottom: 1em;
}
li.divider {
  border-left: solid 1px #6c84e9 !important;
  border-top: solid 1px #6c84e9 !important;
  border-right: solid 1px #8d9fe9 !important;
  border-bottom: solid 1px #8d9fe9 !important;
}
h1.logo {
  color: white;
  float: left;
}
.logo {
  margin-left: 10px !important;
}
h6.settings-link {
  color: white;
  text-align: right;
  vertical-align: middle !important;
}
.settings-link a {
  color: white
}
.logo-image {
  float: left;
  clear: both;
  height: 41px;
  width: 41px;
  background-image: url('/img/jollyplotlogo41.png');
}
@media only screen and (min-width: 768px) {
  .logo-image {
    background-size: auto 45px;
    background-image: url('/img/jollyplotlogo61.png');
  }
}
a.unstyled {
  color: black;
}
blockquote ul {
  margin-left: 22px;
}
/* html5 + forme + foundation = weird */
input.required {
  margin-top: 3px !important;
}
/* Orbit landing page picture slider config */
ol.orbit-bullets {
  display: none !important;
}
.orbit-container {
  margin-bottom: 5px;
}
